[client-server]
port            = 3306

[server]
user            = mysql
bind-address    = 0.0.0.0
datadir         = /mnt/db/
pid-file        = /run/mariadbd.pid
init_file       = /run/startupQueries.sql